<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/843ef3b2-f73b-4d07-9059-0f5d460474c8/resourcegroups/GroupLedgerResourceGroup/providers/Microsoft.Web/sites/GroupLedger</ResourceId>
    <ResourceGroup>GroupLedgerResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://groupledger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>groupledger.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GroupLedger</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GroupLedger</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:groupledgerdbserver.database.windows.net,1433;Initial Catalog=GroupLedger_db;User ID=tmoney@groupledgerdbserver;Password=beLndt123$" Name="Data Source=tcp:groupledgerdbserver.database.windows.net,1433;Initial Catalog=GroupLedger_db;User Id=tmoney@groupledgerdbserver;Password=beLndt123$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Group_Ledger.Models.ApplicationDbContext, Group Ledger" MigrationConfiguration="Group_Ledger.Migrations.Configuration, Group Ledger" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:groupledgerdbserver.database.windows.net,1433;Initial Catalog=GroupLedger_db;User Id=tmoney@groupledgerdbserver;Password=beLndt123$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>