@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    212 Beyer Ct<br />
    Ames, IA 50012<br />
    <!--<abbr title="Phone">P:</abbr>
    425.555.0100-->
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tmaloney@iastate.edu">tmaloney@iastate.edu</a><br />
</address>